/* General Styles */
.posts {
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    gap: 20px; 
    justify-content: center;
    align-items: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .posts {
        margin: 15px; 
        gap: 15px; 
    }
}

@media (max-width: 480px) {
    .posts {
        margin: 10px; 
        gap: 10px; 
    }
}
